* {
  padding: 0;
  margin: 0;
}

.top-bar {
  height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0000;
  background: 0 0;
}
.container {
  display: flex;
  float: inline-end;
  padding: 5px 10px;
  justify-content: flex-end;
}
.container .bag-icons .bi-handbag {
  color: #6f6f6f;
  margin-right: 10px;
}
.search-box .type-style-search {
  margin: 0;
  float: none;
  padding: 2px 11px;
  color: #6f6f6f;
  font-size: 13px;
  border: 1px solid #ebebeb;
  line-height: 24px;
  height: 30px;
  box-sizing: border-box;
}
.container .search-box .search-icons {
  color: #6f6f6f;
  text-align: left;
  width: 18px;
  height: 30px;
  border: 0;
  margin-left: 5px;
}
/* Menu */
.main-nav .double-boder {
  margin-top: 0;
  height: 121px;
  background-color: #f8f8f8;
  border: 0.7px solid #ebebeb;
}
.menu-ht {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.navbar-collapse a {
  color: #0000;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.navbar-collapse ul li {
  padding: 8px;
}
.categories-icons {
  display: flex;
  justify-content: space-around;
}
td img {
  padding: 5px 10px;
}
